<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="inetbankingv1">
<test name="banking app test">
<parameter name="browser"       value="chrome">
</parameter>
 
    <classes>
      <class name="com.inetbanking.testcases.Tc001_logintest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
